* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #f2f0f1ff;
    height: 112px;
    width: 100%;
    color: #0e0e21ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
}

.logo {
    height: 60%;
}

.logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routes-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    float: right;
    margin-bottom: 0;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0.15rem;
}

nav ul li a {
    color: #0e0e21ff;
    font-weight: 600;
    font-size: .95rem;
    padding: 7px 6px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active,
li a:hover {
    text-decoration: underline;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.separator {
    height: 3rem;
    background-color: #2b388fff;
    display: block;
}

.banner {
    background: url(banner.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 200px);
}

.grey-bgd {
    padding-top: 3%;
    background-color: #f2f0f1ff;
}

.reduced {
    width: 70%;
    max-width: 750px;
}

.reduced-md {
    width: 90%;
    max-width: 800px;
}

.reduced h1 {
    text-align: center;
    margin-bottom: 2%;
}

.reduced p {
    padding-bottom: 2%;
}

.stick {
    height: 3rem;
    width: 6px;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    position: relative;
    left: 50%;
    background-color: #2b3990;
}

.stick-inv {
    height: 3rem;
    width: 6px;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    position: relative;
    left: 50%;
    background-color: #2b3990;
}

.blue-bgd {
    background-color: #d1dce8ff;
}

.circle {
    background-color: #d1dce8ff;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    background-color: white;
    width: 201px;
    height: 201px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    background-color: white;
    margin: 0;
    width: 182px;
    height: 182px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }

    #categories-baloons {
        display: block!important;
    }

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 858px) {
    .nav-bar {
        padding-left: 0%;
        padding-right: 0%;
    }

    .logo-container {
        padding-left: 5%;
    }

    .separator {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: red;
    }

    #check:checked~ul {
        left: 0;
    }


}